html {
  scroll-behavior: smooth;
}

* {
  font-family:"Nunito",sans-serif;
  font-weight: 400;
}

main > h1, h2{
  text-align: center;
}

/* colours */
.text-purple {
  color: #c6a6f7;
}

/* fonts */ 
.main-font{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
  }
.bold-font{
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

